
.vs/AnalizadorLexico/v14/.suo
.vs/AnalizadorLexico/v16/.suo
.vs/AnalizadorLexico/v16/Browse.VC.db
*.ipch
.vs/JackCompileCpp/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.tlog
*.obj
*.pdb
*.log
Release/AnalizadorLexico.vcxproj.FileListAbsolute.txt
Release/AnalizadorLexico.vcxproj.FileListAbsolute.txt
